<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- layout 파일을 설정 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <!-- layout 에 출력할 내용 -->
    <th:block th:fragment="content">
        <h1 class="mt-4">Api List Page
        </h1>

        <!-- 데이터 목록 출력 -->
        <table class="table table-striped">
            <!-- 출력하는 열의 제목 -->
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">서비스 구분</th>
                <th scope="col">대분류명</th>
                <th scope="col">소분류명</th>
                <th scope="col">서비스상태</th>
                <th scope="col">서비스명</th>
                <th scope="col">결제방법</th>
                <th scope="col">장소명</th>
                <th scope="col">서비스대상</th>
                <th scope="col">예약링크</th>
                <th scope="col">지역명</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result}" >
                <!-- 글 번호 출력 -->
                <th scope="row">
                        [[${dto.apino}]]
                </th>
                <th>[[${dto.gubun}]]</th>
                <th>[[${dto.maxclassnm}]]</th>
                <th>[[${dto.minclassnm}]]</th>
                <th>[[${dto.svcstatnm}]]</th>
                <th>[[${dto.svcnm}]]</th>
                <th>[[${dto.payatnm}]]</th>
                <th>[[${dto.placenm}]]</th>
                <th>[[${dto.usetgtinfo}]]</th>
                <th><a th:href="@{${dto.svcurl}}" target="_blank">바로가기</a></th>
                <th>[[${dto.areanm}]]</th>
                <th>[[${dto.telno}]]</th>
            </tr>
            </tbody>
        </table>

    </th:block>
</th:block>
